<ul>
    <li>ID:          <strong><%= user.id %>         </strong>         </li>
    <li>Username:    <strong><%= user.username %>   </strong>         </li>
    <li>Name:        <strong><%= user.displayName %></strong>         </li>
    <li>full_name:   <strong><%= user.full_name %>  </strong>         </li>
    <li>bio:         <strong><%= user.bio %>        </strong>         </li>
    <li>website:     <strong><%= user.website %>    </strong>         </li>
</ul>



